@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BankBranch 

<h1>Branch Details</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Location </th>
        <td>@Model.Location</td>
    </tr>
    <tr>
        <th>Branch Manager</th>
        <td>@Model.BranchManager</td>
    </tr>
    <tr>
        <th>Employee Count</th>
        <td>@Model.EmployeeCount</td>
    </tr>
    <tr>
        <th>Employee </th>
    <th>
        @foreach (var employee in Model.Employees)
        {
            <td>@employee.Name - @employee.Position - @employee.CivilId</td>
        }
    </th>
    </tr>

   
    </dl>
  

</table>

@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
@Html.ActionLink("AddEmployee", "AddEmployee", new { id = Model.Id }, new { @class = "btn btn-primary" })
